<!DOCTYPE html>
<html lang="en" ng-app="Toolbox">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="app.css">
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="components/angular/angular.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="components/twf/dataTable.js"></script>
    <script language="JavaScript" type="text/javascript" src="components/tool-man/core.js"></script>
    <script language="JavaScript" type="text/javascript" src="components/tool-man/events.js"></script>
    <script language="JavaScript" type="text/javascript" src="components/tool-man/css.js"></script>
    <script language="JavaScript" type="text/javascript" src="components/tool-man/coordinates.js"></script>
    <script language="JavaScript" type="text/javascript" src="components/tool-man/drag.js"></script>
    <script language="JavaScript" type="text/javascript" src="components/tool-man/dragsort.js"></script>
    <script language="JavaScript" type="text/javascript" src="components/tool-man/cookies.js"></script>
    <script src="app.js"></script>
    <script language="JavaScript" type="text/javascript">
        var dragsort = ToolMan.dragsort();
        var junkdrawer = ToolMan.junkdrawer();

        function verticalOnly(item) {
            item.toolManDragGroup.verticalOnly();
        }

        function speak(id, what) {
            var element = document.getElementById(id);
            element.innerHTML = 'Clicked' + what;
        }

        function saveOrder(item) {
            var group = item.toolManDragGroup;
            var list = group.element.parentNode;
            var id = list.getAttribute("id");
            if (id != null) {
                group.register('dragend', function () {
                    ToolMan.cookies().set("list-" + id,
                            junkdrawer.serializeList(list), 365)
                });
            }
        }
    </script>
</head>
<body ng-controller="TIVSController">
<div class="theTable">
    <div class="hideShowList" ng-show="showColumnSelect">
        <ul>
            <li my-Draggable="{array: theModel.skuViewDataTable.columnDisplayInfos, index: $index }"
                ng-repeat="skuColumn in theModel.skuViewDataTable.columnDisplayInfos"><input type="checkbox" ng-model="skuColumn.show">{{skuColumn.name}}
            </li>
        </ul>
    </div>
    <table>
        <thead>
        <tr>
            <th colspan="0">
                <button ng-click="showColumnSelect = !showColumnSelect">Show & Order Columns</button>
                <button ng-click="showFilter = !showFilter">Filter Columns</button>
                <button ng-click="incPage(-1)">&lt;</button>
                <button ng-click="incPage(1)">&gt;</button>
                <select ng-model='limitVal' ng-options='item for item in limitRange'></select>
            </th>
        </tr>
        <tr>
            <th ng-repeat="skuColumn in theModel.skuViewDataTable.columnDisplayInfos | filter:{show: true}"><button>{{skuColumn.name}}</button></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="itemView in theModel.skuViewDataTable.dataArray | limitTo:limitVal:begin">
            <td ng-repeat="(key, value) in itemView | custom: theModel.skuViewDataTable.columnDisplayInfos">{{value}}</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
